.box {
      width: 300px;         
      height: 150px;         
      padding: 20px;        
      border: 5px solid #333;
      margin: 30px;          
      background-color: yellow;
      text-align: center;
    }
