body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    justify-content: center;   
    align-items: center;       
    gap: 20px;                 
.box {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
}
