body {
    font-family: Arial, sans-serif;
    background-color: white;
    text-align: center;   
}
.container {
    width: 60%;
    margin: 40px auto;
}
h1 {
    color: black;
    font-size: 32px;
}
p {
    font-size: 16px;
    color:grey;
}
ol {
    display: inline-block;
    text-align: left;
    margin-top: 15px;
}
img {
    margin-top: 20px;
    border: 3px solid darkgrey;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: blue;
    text-decoration: underline;
}