body {
    background-color: #f0f2f5;
    font-family: Arial;
}

form {
    width: 350px;
    margin: 60px auto;
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

input[type="submit"] {
    background: blue;
    color: white;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: darkblue;
}