body {
    font-family: Arial;
}
table {
    margin: 40px auto;
    border-collapse: collapse;   
    width: 70%;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}
th {
    background-color: #8ad48c;
    color: white;
}
tr {
    background-color: #af9b9b;
}
h2{
    text-align: center;
}